*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(80deg, #cbd539 0%, #f8612f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
background-color: #ffffff40;
border-radius: 15px;
border: 2px solid #ffffff30;
width: 350px;
max-width: 100%;
overflow: hidden;
}

.header {
    background-color: rgba(255, 255, 255, 0.751);
    padding: 20px;
}

.form{
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #f8612f;
    border: 2px none #f8612f;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 0 0.5px #930;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form button:active{
    box-shadow: 0 0 0 0 #930, inset 3px 3px 3px #930;
    transform: translate(3px, 3px);
}

.form-control.success input{
    border-color: #2eec71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control.success i.fa-circle-check {
    color: #2eec71;
    visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}


@media (max-width: 992px) {
    .container{
        width: 70%;
    }
}
